
        p {

            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 20px;
            
        }
        #img-posisi li:hover {
        
            transform: scale(1.1);
            transition: transform 0.7s ease;
        }

        li{

            margin: 20px;
            font-weight: bold;
            font-size: 18px;
            text-align: center;

        }



        #img-posisi {
           
            border-radius: 10px;
            display: flex;
            list-style-type: none;
            padding: 0;

        }



        nav {

            overflow: hidden;
            background-color: black;  

        }

        nav a {

            float: left;
            display: block;
            color: rgb(245, 245, 245);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;

        }

        nav a:hover {

            background-color: #ddd;
            color: black;

        }

        body {

            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #0e0d0d;

        }

        .container {

            position: relative;
            color: rgb(245, 245, 245);
            width: 80%;
            margin: auto;
            overflow: hidden;

        }

        .main-content {

            border: #fc52c3 5px double;
            padding: 20px;
            background: #fff;
            margin-top: 20px;

        }

        .about-us {
            
            text-align: center;
            border: #fc52c3 5px double;
            background: #ffffff;
            padding: 20px;
            margin-top: 20px;

        }

        .content {

            border: #ff00bf 5px solid;
            border-style: double;
            background-color: white;
            padding: 20px;
            margin-top: 20px;

        }

        .footer {

            background: #333;
            color: #fff;
            text-align: center;
            padding: 10px 0;
            margin-top: 20px;

        }
