*{
    margin: 0%;
    padding: 0%;
}

body {
            margin: 0;
            padding: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              background: url('../img/bg.svg');
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: fixed;
        }
.card {
    transition: all 0.3s ease;
    border-radius: 12px;
    border: none;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.05);
}
 .card:hover {
     transform: translateY(-6px);
    box-shadow: 0px 12px 25px rgba(0,0,0,0.15);
 }


        .btn-primary {
            background: #ffffff;
            border: none;
            transition: all 0.3s ease;
        }

        .btn-primary:hover {
            background: #00347a;
            transform: scale(1.05);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
        }

.launch-time {
    display: flex;
    justify-content: center; 
    gap: 20px; 
}

.launch-time div {
    text-align: center;
}

.launch-time div {
    text-align: center;
    width: 80px;
}

.launch-time p {
    font-size: 30px;
    margin: 0;
    font-weight: bold;
}

.content {
    display: none;

}

.content.active {
    display: block;
}

.guest-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; 
    justify-content: center;
    margin-top: 20px;
}

.guest-item {
    text-align: center;
}

.guest-item img {
    width: 140px;     
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #ffffff;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    transition: 0.3s ease;
}

.guest-item img:hover {
    transform: scale(1.08);
    box-shadow: 0px 8px 25px rgba(0,0,0,0.3);
}

.guest-item p {
    margin-top: 10px;
    font-weight: bold;
}
