*{
    margin: 0%;
    padding: 0%;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.bg-svg {
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: -1;
}

.bg-svg svg {
  width: 120vw;
  height: 120vh;
  position: absolute;
  top: -19vh;
  left: -10vw;
  animation: waveMove 12s ease-in-out infinite alternate;
}

@keyframes waveMove {
  0% { transform: translateX(27); }
  100% { transform: translateX(5vw); }
}


.card {
    transition: all 0.3s ease;
    border-radius: 12px;
    border: none;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.05);
}
 .card:hover {
     transform: translateY(-6px);
    box-shadow: 0px 12px 25px rgba(0,0,0,0.15);
 }


        .btn-primary {
            background: #ffffff;
            border: none;
            transition: all 0.3s ease;
        }

        .btn-primary:hover {
            background: #00347a;
            transform: scale(1.05);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
        }

.launch-time {
    display: flex;
    justify-content: center; 
    gap: 20px; 
}

.launch-time div {
    text-align: center;
}

.launch-time div {
    text-align: center;
    width: 80px;
}

.launch-time p {
    font-size: 30px;
    margin: 0;
    font-weight: bold;
}

.content {
    display: none;

}

.content.active {
    display: flex;
    gap: 20px;
}
.content.active h4 {
    text-align: center;
}

.guest-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; 
    justify-content: center;
    margin-top: 20px;
}

.guest-item {
    text-align: center;
}

.guest-item img {
    width: 140px;     
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #ffffff;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    transition: 0.3s ease;
}

.guest-item img:hover {
    transform: scale(1.08);
    box-shadow: 0px 8px 25px rgba(0,0,0,0.3);
}

.guest-item p {
    margin-top: 10px;
    font-weight: bold;
}


.hero-title {
  margin-top: 40px;
  animation: fadeIn 1.7s ease forwards;
}

.fire-heading {
  font-size: 3rem;
  font-weight: 800;
  color: #ffffff;
  text-shadow: 
      0 0 12px rgba(255, 255, 255, 0.9),
      0 0 25px rgba(0, 0, 0, 0.7);
  letter-spacing: 2px;
  background: linear-gradient(to right, #fff, #ffd3b8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fire-subtitle {
  font-size: 1.1rem;
  margin-top: 5px;
  color: #ffeaea;
  opacity: 0.9;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.678);
  animation: fadeIn 2.4s ease forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to   { opacity: 1; transform: translateY(0); }
}
