/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3e8ff; /* ungu muda */
    color: #333;
}

/* JUDUL */
h1 {
    background-color: #f95f00;
    color: white;
    padding: 20px;
}

/* LINK TAMBAH DATA */
a {
    color: #6d28d9;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* WRAPPER TABEL (AGAR TENGAH) */
.table-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* TABEL */
table {
    border-collapse: collapse;
    width: 90%;
    max-width: 1200px;
    background-color: white;
}

/* HEADER TABEL */
table th {
    background-color: #7c3aed;
    color: white;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

/* ISI TABEL */
table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

/* BARIS SELANG-SELING */
table tr:nth-child(even) {
    background-color: #f5f3ff;
}

/* TINDAKAN */
td a {
    margin: 0 5px;
}
