body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #c79081, #dfa579);
    margin: 0;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #fff;
}

.card {
    background: white;
    max-width: 500px;
    margin: 30px auto;
    padding: 25px;
    border-radius: 10px;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background: #6f4e37;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table {
    width: 95%;
    margin: auto;
    background: white;
    border-collapse: collapse;
}

th {
    background: #6f4e37;
    color: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.btn-edit {
    background: #f0ad4e;
    color: white;
    padding: 6px 10px;
    text-decoration: none;
    border-radius: 4px;
}

.btn-hapus {
    background: #d9534f;
    color: white;
    padding: 6px 10px;
    text-decoration: none;
    border-radius: 4px;
}

.btn-terima {
    background: #5cb85c;
    color: white;
    padding: 6px 10px;
    text-decoration: none;
    border-radius: 4px;
}

.btn-tolak {
    background: #777;
    color: white;
    padding: 6px 10px;
    text-decoration: none;
    border-radius: 4px;
}
