body {
    font-family:Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #27ae60;
}

nav a {
    display: flex;
    justify-content: center;
    background-color: #27ae60;
}

main {
    max-width: 1200px;
    margin: 20 px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content {
    width: 45%;
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px
}