html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  opacity: 1;
  font-family: 'Gotham', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: rgb(0, 0, 0);
  transition: .5s ease;
  color: #333;
}

body {
  margin: 0;
  opacity: 1;
  font-family: 'Gotham', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: white;
  transition: .5s ease;
  color: #333;
}

header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: yellow;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.moving-title {
  font-size: 3em;
  white-space: nowrap;
  color: rgb(255, 136, 0);
  animation: scrollTitle 12s linear infinite;
  position: absolute;
  top: 0%;
}

@keyframes scrollTitle {
  0% { transform: translateX(-260%); }
  100% { transform: translateX(230%); }
}

.scroll-down {
  position: absolute;
  bottom: 80px;
  font-size: 1em;
  background: white;
  color: #2c5364;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  transition: background 0.3s;
}

.scroll-down:hover {
  background: #ddd;
}

#cour {
  text-align: center;
}

.cour-section {
  padding: 60px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
}

.cour-item {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  width: 300px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: all 0.6s;
}

.cour-item button {
  background-color: darkblue;
  padding: 12px;
  border-radius: 8px;
}

.cour-item:hover {
  box-shadow: 10px 10px 10px #aaaaaa;
  transform: scale(1.1);
}

.cour-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #2c5364;
  color: white;
}

#menu-toggle { display: none; }

#menu-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1001;
}

#menu-icon span {
  height: 4px;
  background: white;
  border-radius: 2px;
  transition: 0.3s;
}

#menu-toggle:checked + #menu-icon span {
  transform: translate(250px, 0px);
}

#sidebar {
  position: absolute;
  top: 0;
  left: -250px;
  width: 250px;
  height: 124%;
  border-radius: 0px 0px 178px 0px;
  background: #2c5364;
  padding: 20px;
  box-sizing: border-box;
  transition: left 0.3s;
  z-index: 1002;
}

#sidebar h2 {
  color: white;
  background: rgb(167, 164, 0);
}

#sidebar h3 {
  color: white;
  margin-top: 168px;
}

#sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
  padding: 20px;
}

#sidebar a:hover {
  background: #b0c400a4;
  border-radius: 46px;
}

#menu-toggle:checked ~ #sidebar {
  left: 0;
}

/* Top bar */
#somba {
  overflow: hidden;
  background: rgb(0, 114, 167);
}

#somba a {
  float: right;
  display: block;
  color: white;
  padding: 24px 16px;
}

#somba a:hover {
  text-decoration: underline;
  color: black;
}

#tutup, #domba, #glass {
  position: absolute;
  right: 0;
  display: block;
  z-index: 999;
}

#glass {
  background: rgba(0, 225, 255, 0.151);
  top: 66px;
  width: 1400px;
  height: 58px;
}

#tutup {
  background: rgb(255, 255, 255);
  top: 66px;
  width: 400px;
  height: 58px;
}

form.tutup input[type=text] {
  width: 75%;
  height: 90%;
  color: #0f2027;
}

form.tutup button {
  float: right;
  width: 23%;
  padding: 18px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

#tutup button:hover {
  background: orange;
}

#domba {
  background: white;
  top: 118px;
  width: 1400px;
  height: 6px;
}

#dark-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.7);
  display: none;
  z-index: 1000;
}

#button a {
    background: #0f2027;
}

#sorkem {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 500px;
  height: 500px;
  border-radius: 20px;
  display: none;
  z-index: 2000;
  padding: 20px;
  image-rendering: auto;
}

body.modal-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

#info {
  background: #0f2027;
  color: aliceblue;
  padding: 15px;
}

#info a {
  color: orange;
}

#informasi {
  background: hsla(212, 100%, 72%, 0.315);
  height: 1100px;
  animation: backwards;
  color: aliceblue;
  padding: 100px;
}

.review-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  margin-top: 30px;
  
}

.left-text {
  width: 50%;
}

.review-card {
  width: 320px;
  background: #ff4500;
  padding: 25px;
  border-radius: 20px;
  color: white;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.profile-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 4px solid white;
  object-fit: cover;
  margin-bottom: 10px;
}

.stars {
  font-size: 22px;
  margin-bottom: 10px;
}

.review-text {
  font-size: 15px;
  line-height: 1.4;
}

.fade-up {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}


#informasi h1,h2 {
  color: #0f2027;
  text-align: center;
  padding: 8px;
}

#informasi p {
  padding: 5;
  color: black;
}

#informasi button {
  display: flex;
  padding: 15px;
  color: black;
  background-color: cadetblue;
  border-radius: 5px;
  align-items: flex-start; /* tombol rata kiri */
  gap: 10px; /* jarak antar tombol */
  
}



